<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="ProductTeamPackages" value="https://arcfmsolution.myget.org/F/productteam/api/v2/" />
	<add key="SolutionCenterFeed" value="https://arcfmsolution.myget.org/F/solutioncenter/api/v2/" />
  </packageSources>
  <packageSourceCredentials>
    <ProductTeamPackages>
      <add key="Username" value="AzureBuildReadOnlyUser" />
      <add key="ClearTextPassword" value="NCn0zTOqxV8JitRogq7m" />
    </ProductTeamPackages>
	<SolutionCenterFeed>
      <add key="Username" value="AzureBuildReadOnlyUser" />
      <add key="ClearTextPassword" value="NCn0zTOqxV8JitRogq7m" />
    </SolutionCenterFeed>
  </packageSourceCredentials>
</configuration>